@page "/sets/{id:int}"
@inject SetService SetService
@inject NavigationManager Navigation

@if(Set is null)
{
	<h1>Set is not found</h1>
}
else
{
	<h1 class="mb-3"> @Set.Name</h1>
	<MudGrid>
		<MudItem>
			<MudImage Src="@Set.Preview_Image_URL" Width="600"/>
		</MudItem>
		<MudItem class="justify-self-end">
			<MudText Typo="Typo.h5">Set Number: @Set.Set_Number </MudText>
			<MudDivider Class="mb-3"/>
			<MudText Typo="Typo.h5">Year Released: @Set.Year </MudText>
			<MudDivider Class="mb-3" />

			<MudText Typo="Typo.h5">Number of Parts: @Set.Number_Of_Parts </MudText>
			<MudDivider Class="mb-3" />
			<MudText Typo="Typo.h5" Class="mb-1">Categories: </MudText>

			@foreach (Category category in Set.Categories)
			{
				<MudChip Size="Size.Large" Href="categories/1" T="Category">@category.Name</MudChip>
			}
			<MudDivider Class="my-3" />
			<MudButton Variant="Variant.Filled" Color="Color.Primary" Target="_blank" Href="@Set.Instructions_URL">Instructions</MudButton>
			<MudButton Variant="Variant.Filled" Color="Color.Primary" class="mx-3" Target="_blank" OnClick="NavigateToEditPage">Edit</MudButton>

		</MudItem>
		<MudItem md="12">
		<MudText Class="my-2" Typo="Typo.h5">Minifigures in Set: </MudText>
			<MudGrid>
				@foreach (var mf in Set.Minifigures)
				{
					<MudItem >
						<MinifigureCard Minifigure="mf" />
					</MudItem>
				}
			</MudGrid>
		</MudItem>
	</MudGrid>
	
}

@code {
	[Parameter]
	public int? Id { get; set; }
	public Set Set { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		if(Id is not null)
		{
			var set = await SetService.GetSetById((int)Id);

			if(set is not null)
			{
				Set = set;
			}
		}
	}

	public void NavigateToEditPage() => Navigation.NavigateTo("/edit-set/" + Set.Id);

}
