@page "/minifigures/{Id:int}"
@inject MinifigureService MinifigureService
@inject NavigationManager Navigation

@if(Minifigure is null){
<h1>Minifigure is not found</h1>

}
else{
	<h1 class="mb-3">@Minifigure.Name.ToUpper()</h1>

	<MudGrid>
		<MudItem>
			<MudImage Src="@Minifigure.Preview_Image_URL" Width="700" />
		</MudItem>
		<MudItem>
			@if (Minifigure.Character is not null)
			{
				<MudText Typo="Typo.h5">Based on: <MudLink Typo="Typo.h5" OnClick="() => NavigateToCharacterPage(Minifigure.Character)">@Minifigure.Character.Name</MudLink></MudText>
				<MudDivider Class="mb-3" />
			}
			<MudText Typo="Typo.h5" Style="">Description: @Minifigure.Description</MudText>
			<MudDivider Class="mb-3" />
			<MudText Typo="Typo.h5">Number Of Parts: @Minifigure.Number_Of_Parts</MudText>
			<MudDivider Class="mb-3" />
		</MudItem>
		<MudItem>
			@if(Minifigure.Sets.Count != 0)
			{
				<MudText Typo="Typo.h5">Sets Featured In</MudText>
			}
			<MudGrid>
				@foreach (var set in @Minifigure.Sets)
				{
					<MudItem>
						<SetCard Set="set" />
					</MudItem>
				}
			</MudGrid>
		</MudItem>
	</MudGrid>
}

@code {

	[Parameter]
	public int? Id { get; set; }

	public Minifigure Minifigure { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		var res = await MinifigureService.GetMinifigureAsync((int)Id);

		if(res is not null)
		{
			Minifigure = res;
		}
	}

	public void NavigateToCharacterPage(Character character) => Navigation.NavigateTo("/characters/" + character.Id);
}
