@page "/minifigures/{Id:int}"
@inject MinifigureService MinifigureService
@inject NavigationManager Navigation

@if(Minifigure is null){
<h1>Minifigure is not found</h1>

}
else{
	<h1>@Minifigure.Name - @Minifigure.Number_Of_Parts</h1>
	@if (Minifigure.Character is not null)
	{
		<MudItem>
			<MudText>Based on: <MudLink OnClick="() => NavigateToCharacterPage(Minifigure.Character)">@Minifigure.Character.Name</MudLink></MudText>
		</MudItem>
	}
	<MudImage Src="@Minifigure.Preview_Image_URL" Width="700" />
	<MudText>@Minifigure.Description</MudText>
	<MudItem>
		<MudText>Sets Featured In</MudText>
		<MudGrid>
			@foreach (var set in @Minifigure.Sets)
			{
				<MudItem>
					<SetCard Set="set" />
				</MudItem>
			}
		</MudGrid>
	</MudItem>
}

@code {

	[Parameter]
	public int? Id { get; set; }

	public Minifigure Minifigure { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		var res = await MinifigureService.GetMinifigureAsync((int)Id);

		if(res is not null)
		{
			Minifigure = res;
		}
	}

	public void NavigateToCharacterPage(Character character) => Navigation.NavigateTo("/characters/" + character.Id);
}
